@CHARSET "UTF-8";

@font-face {font-family: 'Noto Sans KR';font-style: normal;
font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) 
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) 
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) 
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) 
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) 
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) 
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) 
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) 
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) 
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}


html,body{margin:0;padding:0;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,article,figure{margin:0;padding:0;}
input,textarea,select,td,th,button{color:#444;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
ol,ul,li,dl{list-style:none;}
legend, caption, .skip{position:absolute;left:-5000px;top:0;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;}
caption{position:relative;}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a:link,a:visited{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
img{max-width:100%}

input[type=number],input[type=text],input[type=password],input[type=submit],textarea{-webkit-border-radius:0;-webkit-appearance:none;}
input[type=text]::-webkit-input-placeholder{color:#b4b4b4}
input[type=text]:-moz-placeholder{color:#b4b4b4}
input[type=text]::-moz-placeholder{color:#b4b4b4}
input[type=text]:-ms-input-placeholder{color:#b4b4b4}
input[type=number]::-webkit-input-placeholder{color:#b4b4b4}
input[type=number]:-moz-placeholder{color:#b4b4b4}
input[type=number]::-moz-placeholder{color:#b4b4b4}
input[type=number]:-ms-input-placeholder{color:#b4b4b4}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin:0;}
input[type=password]::-webkit-input-placeholder{color:#b4b4b4}
input[type=password]:-moz-placeholder{color:#b4b4b4}
input[type=password]::-moz-placeholder{color:#b4b4b4}
input[type=password]:-ms-input-placeholder{color:#b4b4b4}
textarea::-webkit-input-placeholder{color:#b4b4b4}
textarea:-moz-placeholder{color:#b4b4b4}
textarea::-moz-placeholder{color:#b4b4b4}
textarea:-ms-input-placeholder{color:#b4b4b4}

.colorSky{color:#3399cc !important}
.colorBlue{color:#266eb3 !important}

.help {color:#ff671e;}

/* 공통*/
	input[type="text"]{height:40px;line-height:40px;padding:0 10px;border:1px solid #cdcdcd;}
	input[type="number"]{height:40px;line-height:40px;padding:0 10px;border:1px solid #cdcdcd;}
	input[type="password"]{height:40px;line-height:40px;padding:0 10px;border:1px solid #cdcdcd;}
	input[type="file"]{display:inline-block;line-height:normal !important}

	 input[type="radio"]{position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;} 
  /*input[type="radio"]{display:none;}*/
	input[type="radio"] + label{font-weight:normal;}
	input[type="radio"] + label span{display:inline-block;width:24px;height:24px;margin:-3px 5px 0 0;vertical-align:middle;background:url("../img/ico_radio.png") left top no-repeat;cursor:pointer;}
	input[type="radio"]:checked + label span{background:url("../img/ico_radio.png") -24px top no-repeat;}

	 input[type="checkbox"]{position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;} 
  	/*input[type="checkbox"]{display:none;}*/
	input[type="checkbox"] + label{font-weight:normal;}
	input[type="checkbox"] + label span{display:inline-block;width:24px;height:24px;margin:-3px 5px 0 0;vertical-align:middle;background:url("../img/ico_check.png") left top no-repeat;cursor:pointer;}
	input[type="checkbox"]:checked + label span{background:url("../img/ico_check.png") -24px top no-repeat;}

	select::-ms-expand{display:none;}
	select{height:40px;padding:0 22px 0 5px;border:1px solid #cdcdcd;background:#fff url("../img/ico_select.png") no-repeat center right;-webkit-appearance:none;-moz-appearance:none;}

	.write_input{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
	.write_input.readonly{background-color:#eee}
	.write_file{display:inline-block !important}
	.write_textarea{padding:10px;border:1px solid #cdcdcd;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
	
	.basic_tbl{background-color:#fff}
	.basic_tbl th,
	.basic_tbl td{padding:10px;border:1px solid #e0e0e0;}
	.basic_tbl thead th{background-color:#666;color:#fff}


.respon{position:relative;width:1380px;margin:0 auto !important}
.respon2{position:relative;width:1280px;margin:0 auto !important}
.respon3{position:relative;width:1080px;margin:0 auto !important}

.floats{zoom:1}
.floats:after{content:'';display:block;clear:both}
.floats > li{float:left}
.floats > li.fr{float:right}

.w100{width:100%}
.mgt10px{margin-top:10px;}
.mgt30px{margin-top:30px;}
.mgr10px{margin-right:10px;}
.mgb30{margin-bottom:30px;}
#btnArea.pdt0{padding-top:0px;}

.font-size-16 {font-size: 16px !important;}

#scrollPercentCounter{display:none;position:fixed;top:129px;left:0;height:3px;background-color:#42cb9d;z-index:1100}

/* 웹접근성 추가 css */
.hidden{position:absolute; left:-10000px; top:auto; height:1px; overflow:hidden;}


body{
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -0.8px;
}

.wrapper {
	background: url(/naksinuri_original/common_main/img/intro/intro_bg10.png) no-repeat center;
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.cs_box {
	color: #fff;
	position: absolute;
	top: 80px;
	right: 80px;
	text-align: right;
}

.cs_box h2 {
	font-size: 38px;
	font-weight: normal;
	letter-spacing: -1.71px;
	margin-bottom: 30px;
	position: relative;
}

.cs_box h2::before {
	content: "";
	background: url(/naksinuri_original/common_main/img/intro/call_ico.png) no-repeat center;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 50%;
	left: -46px;
	transform: translateY(-50%);
}

.cs_box .time_info {
	font-size: 24px;
	letter-spacing: -1.08px;
	font-weight: 300;
	line-height: 2;
}

.cs_box .time_info span {
	position: relative;
}

.cs_box .time_info span::before {
	content: "";
	background: url(/naksinuri_original/common_main/img/intro/clock_ico.png) no-repeat center;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 50%;
	left: -44px;
	transform: translateY(-50%);
}

.container {
	max-width: 100%;
	width: 1000px;
}

.intro {
	padding-top: 150px;
}

.intro .intro_text {
	text-align: center;
	margin-bottom: 65px;
}

.intro .intro_text img {
	margin-bottom: 20px;
}

.intro .intro_text p {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.intro_main .intro_con {
	margin: 0 75px;
}

.intro_main .con_box {
	padding: 20px 40px;
	border-radius: 3px;
	box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.33);
	margin-bottom: 25px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	width: 100%;
	color: white;
	position: relative;
	transition: .3s;
} 

.intro_main .con_box:hover {
	box-shadow: 8px 13px 13px 0 rgb(0, 0, 0, 0.22);
} 

.intro_main .con_box:hover .bg {
	background: rgba(0,0,0, 0.07);
} 

.intro_main .con_box:hover img {
	opacity: 0;
} 

.intro_main .con_box:hover .text-box {
	transform: translateY(-70px);
} 

.intro_main .con_box:hover .go::after {
	animation: ani1 1s ease-in-out infinite;
}

@keyframes ani1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, -10px);
  }
}

.con_l .con_box {
	background-color: #1245AB;
}

.con_r .con_box {
	background-color: #0863A2;
}

.intro_main .last_con::after {
	content: "";
	display: block;
	clear: both;
}

.intro_main .last_con .con_box {
	float: left;
	width: 47.5%;
	padding: 20px 10px;
}

.intro_main .last_con .con_box:first-child {
	margin-right: 5%;
}

.intro_main .con_box .bg {
	border-radius: 15px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.25s ease-out;
} 

.intro_main .con_box img {
	margin-bottom: 20px;
	transition: .3s;
} 

.intro_main .con_box .text-box {
    transition: .3s;
}

.intro_main .con_box .text-box h4 {
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -1.26px;
	margin: 10px 0;
}

.intro_main .con_box .text-box span {
	font-size: 20px;
	color: white;
	display: block;
	margin-bottom: 25px;
}

.intro_main .con_box .text-box .go {
	font-size: 22px;
	position: relative;
}

.intro_main .con_box .text-box .go::after {
	content: "";
	background: url(/naksinuri_original/common_main/img/intro/go_ico.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}


@media (max-width:1920px) and (max-height:940px) {
	.intro {
	    padding-top: 100px;
	}
}

@media(max-width:1600px) {
	.cs_box {
	    top: 30px;
    	right: 50px;
	}
	.cs_box h2 {
	    font-size: 20px;
	    margin-bottom: 3px;
	}
	.cs_box h2::before {
	    background-size: 20px;
    	left: -30px;
	}
	.cs_box .time_info {
	    font-size: 17px;
	    line-height: 1.5;
	}
	.cs_box .time_info span::before {
	    left: -30px;
	    background-size: 17px;
	}
	.container {
	    width: 870px;
	}
	.intro .intro_text img {
	    width: 110px;
	    margin-bottom: 10px;
	}
	.intro .intro_text p {
	    font-size: 16px;
	}
	.intro_main .con_box {
	    font-size: 16px;
	    margin-bottom: 15px;
	    padding: 20px;
	}
	.intro_main .con_box:hover .text-box {
		transform: translateY(-50px);
	} 
	.intro_main .con_box img {
	    margin-bottom: 0;
	    width: 100px;
	}
	.intro_main .con_box .text-box h4 {
	    font-size: 20px;
	}
	.intro_main .con_box .text-box span {
	    font-size: 16px;
	    margin-bottom: 15px;
	}
	.intro_main .con_box .text-box .go {
	    font-size: 17px;
	}
	.intro_main .con_box .text-box .go::after {
	    right: 20px;
	}
}

@media(max-width:1680px) and (max-height:1050px) {
	.intro {
	    padding-top: 150px;
	}
}

@media(max-width:1440px) and (max-height:1050px) {
	.intro {
	    padding-top: 200px;
	}
}

@media(max-width:1280px) and  (max-height:1024px) {
	.intro {
	    padding-top: 180px;
	}
}

@media(max-width:1600px) and (max-height:900px) {
	.intro {
	    padding-top: 135px;
	}
}

@media(max-width:1366px) and (max-height:768px) {
	.intro {
	    padding-top: 60px;
	}
	.intro .intro_text {
	    margin-bottom: 45px;
	}
}

@media(max-width:1280px) and (max-height:800px) {
	.intro {
	    padding-top: 70px;
	}
	
}

@media(max-width:1280px) and (max-height:660px) {
	.intro {
	    padding-top: 40px;
	}
}

@media(max-width:992px) {
	.m_none {
		display: none;
	}
	.cs_box {
		top: 15px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		
	}
	.cs_box h2 {
	    font-size: 20px;
	}
	.cs_box h2::before {
	    background-size: 21px;
	    left: -35px;
	}
	.container {
	    padding-right: 30px;
	    padding-left: 30px;
	}
	.intro {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.intro .intro_text {
	    margin-bottom: 0;
	    position: absolute;
	    bottom: 20px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.intro .intro_text img {
	    width: 132px;
	    margin-bottom: 0;
	}
	.intro_main .intro_con {
	    margin: 0;
	}
	.intro_main .con_l {
		margin-bottom: 10px;
	}
	.intro_main .con_box {
	    margin-bottom: 20px;
	}
}

@media(max-width:767px) {
	.cs_box h2::before {
	    background-size: 13px;
	    left: -35px;
	}
	.intro .intro_text img {
	    width: 96px;
	    margin-bottom: 0;
	}
	.intro_main .con_box, .intro_main .last_con .con_box {
		padding: 15px;
		font-size: 16px;
	}
	.intro_main .con_box.first {
	    padding: 15px 20px 15px 10px;
	}
	.intro_main .con_box:hover img {
		opacity: 1;
	} 
	.intro_main .con_box:hover .text-box {
		transform: translateY(0);
	} 
	.intro_main .con_box img {
	    float: left;
	    width: 83px;
	    height: 83px;
	    margin-right: 15px;
	    margin-bottom: 0;
	}
	.intro_main .con_box .text-box {
	    text-align: left;
	}
	.intro_main .con_box .text-box h4 {
	    font-size: 20px;
	    position: relative;
	}
	.intro_main .con_box .text-box h4::after {
		content: "";
		background: url(/naksinuri_original/common_main/img/intro/go_ico.png) no-repeat;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	.intro_main .con_box .text-box span {
	    font-size: 14px;
	    margin-bottom: 0;
	}
}

@media(max-width:320px) {
	.cs_box h2 {
	    font-size: 18px;
	}
	.intro_main .con_box, .intro_main .last_con .con_box {
	    font-size: 14px;
	}
	.intro_main .con_box .text-box h4 {
	    font-size: 16px;
	}
	.intro_main .con_box .text-box span {
	    font-size: 13px;
	}
}