@CHARSET "UTF-8";

/*달력*/
	#fullCalendar, #fullCalendar th, #fullCalendar .fc-day-number {
		/*font-family: 'NanumSquare';*/
	}
	#fullCalendar h2 {
		font-size: 26px;
	}
	#fullCalendar .fc-sun {
		border-left: 0 none;
	}
	#fullCalendar .fc-sun{
		color: #D34A32;
	}
	#fullCalendar .fc-sat{
		color: #0661BE;
	}
	#fullCalendar .fc-day.fc-other-month {
		background: #F6F6F6;
	}
	#fullCalendar .fc-day-header {
		padding: 10px;
		font-weight: bold;
		/* background-color:#fff; */
	}
	#fullCalendar .fc-widget-header {
	    border-bottom: 1px solid #000;
	    background-color:#fff; 
	}

	#fullCalendar .fc-view > table {
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}
	#fullCalendar .fc-row .fc-bg {
		/* background-color:#fff; */
	}
	.fc-day-grid-event .fc-content {
		white-space: normal;
	}

	.day_event_wrap {
		clear: both;
		padding: 4px;
	}
	.day_event_wrap p {
		font-size: 13px;
		padding-left: 1em;
	}
	.day_event_wrap p:before {
		font-size: 13px;
		content: "- ";
		margin-left: -1em;
	}
	.day_event_wrap .btn {
		margin-left: 1em;
	}

	.fc-event {
		border: 0 none;
	}

	.fc-event.info {
		background: #17b3a3;
		color: #fff;
		text-align: center;
	}
	
	.fc-event.danger {
		background: #eb6709;
		color: #fff;
		text-align: center;
	}
	
	.fc-event.primary {
		background: #526069;
		color: #fff;
		text-align: center;
	}
	
	.fc-event.default {
		background: #b4ddff;
		color: #000;
		text-align: center;
		padding:5px;
		font-weight: bold;
		font-size: 16px;
	}	
	.fc-event.fshsk_trnng {
		background: #df9ded;
		color: #000;
		text-align: center;
		padding:5px;
		font-weight: bold;
		font-size: 16px;
	}	
	.fc-event.wknd_trnng {
		background: #fddfaa;
		color: #000;
		text-align: center;
		padding:5px;
		font-weight: bold;
		font-size: 16px;
	}
	
	.cidn010300_edu {
		background: #0BB2D4;
	    text-align: center;
	    font-weight: bold;
	    font-size: 16px;
	}
	.cidn010200_edu {
		background: #FA983C;
	    text-align: center;
	    font-weight: bold;
	    font-size: 16px;
	}
	.resmpt_edu {
		background: #A57AFA;
	    color: #fff;
	    text-align: center;
	    padding: 5px;
	    font-weight: bold;
	    font-size: 16px;
	}
	
	.fc-widget-content {
		color:#fff;
	}
	
	.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
		border-radius: 5;
	}
	.fc-day-grid-event .fc-content {
		white-space: initial;
		/*padding: 2px 0;*/
	}
	
	.text-red {
		color:#ff4c52;
	}

	.text-lh-22 {
		line-height: 22px;
	}
	
	.a-lock {
		margin-top: 4px;
		line-height:22px;
		/*width:10em;*/
		height:2em;
	}
	
	.a-unlock {
		margin-top: 4px;
		line-height:22px;
		/*width:10em;*/
		height:2em;
	}
	
	.fc-subtitle {
		color: #000000;
		font-size: 14px;
	}
	
	.fc button {
		height:3em !important;
	}
	
	.fc-toolbar.fc-header-toolbar{
		margin-bottom:-20px !important;
	}
	
	.fc-list-item-title {
		padding:5px;
	}
	
	.fc-list-empty-wrap2 {
		height: 50px;
	    color: #997B71;
	    position: relative;
	}
	