@CHARSET "UTF-8";
.footable > thead > tr > th {
	font-weight: bold;
    background: #f0f4f5;
}
.table th, .table td {
	color:#526069;
}
.table-hover tbody tr:hover {
	background-color: #e2ecf1; 
}
.table-active, .table-active > th, .table-active > td {
	background-color: #ffffff;
}
.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {	
	background-color: #e2ecf1; 
}


/* 커서 관련 */
.cursor-pointer { cursor:pointer; }
.cursor-grab 	{ cursor:move; cursor:-webkit-grab; cursor:-moz-grab; cursor:grab; }
.cursor-move 	{ cursor:move; }
.cursor-wait	{ cursor:wait; }
.cursor-no-drop { cursor:no-drop; }

/* 판넬 */
.admPublicPanelLayer {
	width: 1000px;
    z-index: 2000;
    top: 10px;
    right: 30px;
    position: fixed;
}
.scroll-x {overflow-x:auto !important;}
.scroll-y {overflow-y:auto !important;}
.h-600 {height:600px !important;}
.h-700 {height:700px !important;}
.h-800 {height:800px !important;}
.h-900 {height:900px !important;}
.h-1000 {height:1000px !important;}
.h-1100 {height:1100px !important;}
.h-1200 {height:1200px !important;}
.line-through {text-decoration:line-through;}

.display-block {display: block;}